In [12]:
import pandas as pd
from keplergl import KeplerGl
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import pgeocode

In [19]:
df = pd.read_csv('TT_Income_Ag_Ops_Sales_byZipCode.csv')
print(df.head())

       State  State ANSI  Zip Code  Value
0  MINNESOTA          27     55001     38
1  MINNESOTA          27     55003      1
2  MINNESOTA          27     55005     12
3  MINNESOTA          27     55006     80
4  MINNESOTA          27     55007     88

In [20]:
country_code = 'us'
nomi = pgeocode.Nominatim(country_code)
def get_lat_lon(zip_code):
    location = nomi.query_postal_code(zip_code)
    if location is not None:
        return location.latitude, location.longitude
    return None, None

df['latitude'], df['longitude'] = zip(*df['Zip Code'].apply(get_lat_lon))
df['latitude'] = df['latitude'].fillna(0)
df['longitude'] = df['longitude'].fillna(0)
df['Value'] = df['Value'].replace(',', '', regex=True).astype(float)
print(df.head())

       State  State ANSI  Zip Code  Value  latitude  longitude
0  MINNESOTA          27     55001   38.0   44.8697   -92.8234
1  MINNESOTA          27     55003    1.0   45.0214   -92.7844
2  MINNESOTA          27     55005   12.0   45.3887   -93.2315
3  MINNESOTA          27     55006   80.0   45.7175   -93.2037
4  MINNESOTA          27     55007   88.0   45.9474   -93.0736

In [26]:
map1 = KeplerGl(height=700)
map1.add_data(data=df,name='Total Income Agricultural Operations Sales by ZipCode 2022')
map1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'Total Income Agricultural Operations Sales by ZipCode 2022': {'index': [0, 1, 2, 3, 4, 5, 6, 7â€¦